/*h1{
    font-family: 'Open Sans', sans-serif;

}
h2{
    font-family: 'Open Sans', sans-serif;

}*/

form .form-control {
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    position: relative;
    margin-top: 15px;
}

#comment {
    position: absolute;   
    margin-left: 5px;
}