@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    font-family: "Josefin Sans";
    text-transform: capitalize;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;

}

.box {
    padding: 0 20px;
    /* Añadido para separación entre columnas */
}

/*PRODUCTOS*/
.products {
    
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
    

/*.products-list{

} */  

.product-detail{
    padding: 50px 0;
    text-align: center;
} 


/*FOOTER*/

.footer {
    background-color: #EAE7FA;
    padding: 20px 0;

}



.footer-links {
    width: 100%;
    display: grid;
    /* Cambiamos a grid */
    grid-template-columns: repeat(4, 1fr);
    /* Dividimos en 4 columnas */
    gap: 15px;
    /* Agregamos un espacio entre las columnas */
    box-sizing: border-box;
}


.footer-links h4 {
    font-size: 20px;
    color: #695E93;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #5D59AF; /*linea debajo del h4 */
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #170B3B;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #4120A9;
    padding-left: 6px;

}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #9E97E3;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #170B3B;
    transition: all 300ms ease;
    text-decoration: none;
    /*es para que se borre la linea debajo de los iconos de las redes*/
}

.social-link a:hover {
    background-color: #D7A1F9;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* Cambio en el diseño en pantallas más pequeñas */
    }
}